In [1]:
import json
import pandas as pd
import bs4

In [15]:
bean = pd.read_csv('CoffeeBean3.csv', encoding='EUC-KR')
bean.head()

   Unnamed: 0 광역시도   시도  입점수     ID
0           0  강원도  원주시    1     원주
1           1  경기도  광명시    1     광명
2           2  경기도  구리시    1     구리
3           3  경기도  군포시    1     군포
4           4  경기도  권선구    1  수원 권선

In [16]:
paik = pd.read_csv('Paikdabang3.csv', encoding='EUC-KR')
paik.head()

   Unnamed: 0 광역시도   시도  입점수  ID
0           0  강원도  강릉시    4  강릉
1           1  강원도  동해시    1  동해
2           2  강원도  삼척시    4  삼척
3           3  강원도  원주시   25  원주
4           4  강원도  춘천시   16  춘천

In [17]:
star = pd.read_csv('Starbucks3.csv', encoding='EUC-KR')
star.head()

   Unnamed: 0 광역시도   시도  입점수      ID
0           0  강원도  강릉시    3      강릉
1           1  강원도  고성군    1  고성(강원)
2           2  강원도  동해시    1      동해
3           3  강원도  속초시    3      속초
4           4  강원도  원주시    6      원주

In [19]:
pd.merge(bean, star, on="시도", how="outer")

,Unnamed: 0_x,광역시도_x,시도,입점수_x,ID_x,Unnamed: 0_y,광역시도_y,입점수_y,ID_y
0,0.0,강원도,원주시,1.0,원주,4,강원도,6,원주
1,1.0,경기도,광명시,1.0,광명,8,경기도,8,광명
2,2.0,경기도,구리시,1.0,구리,10,경기도,3,구리
3,3.0,경기도,군포시,1.0,군포,11,경기도,4,군포
4,4.0,경기도,권선구,1.0,수원 권선,12,경기도,5,수원 권선
5,5.0,경기도,기흥구,1.0,용인 기흥,13,경기도,10,용인 기흥
6,6.0,경기도,김포시,2.0,김포,14,경기도,8,김포
7,7.0,경기도,남양주시,1.0,남양주,15,경기도,7,남양주
8,8.0,경기도,덕양구,1.0,고양 덕양,17,경기도,10,고양 덕양
9,9.0,경기도,동안구,3.0,안양 동안,19,경기도,10,안양 동안
10,10.0,경기도,만안구,1.0,안양 만안,20,경기도,3,안양 만안
11,11.0,경기도,분당구,9.0,성남 분당,21,경기도,36,성남 분당
12,12.0,경기도,소사구,1.0,부천 소사,23,경기도,1,부천 소사
13,13.0,경기도,수정구,1.0,성남 수정,24,경기도,2,성남 수정
14,14.0,경기도,수지구,1.0,용인 수지,25,경기도,11,용인 수지
15,15.0,경기도,영통구,2.0,수원 영통,31,경기도,11,수원 영통
16,16.0,경기도,원미구,3.0,부천 원미,33,경기도,12,부천 원미
17,17.0,경기도,이천시,1.0,이천,36,경기도,5,이천
18,18.0,경기도,일산동구,4.0,고양 일산동,37,경기도,13,고양 일산동
19,19.0,경기도,일산서구,2.0,고양 일산서,38,경기도,9,고양 일산서
20,20.0,경기도,장안구,2.0,수원 장안,39,경기도,3,수원 장안
21,21.0,경기도,파주시,2.0,파주,42,경기도,5,파주
22,22.0,경기도,팔달구,3.0,수원 팔달,43,경기도,7,수원 팔달
23,23.0,경기도,평택시,1.0,평택,44,경기도,5,평택
24,24.0,경기도,하남시,1.0,하남,46,경기도,9,하남
25,25.0,경기도,화성시,5.0,화성,47,경기도,11,화성
26,26.0,경상남도,성산구,1.0,창원 성산,53,경상남도,6,창원 성산
27,27.0,경상남도,의창구,1.0,창원 의창,55,경상남도,4,창원 의창
28,28.0,경상남도,진주시,1.0,진주,56,경상남도,6,진주
29,29.0,경상북도,경주시,1.0,경주,60,경상북도,7,경주
...,...,...,...,...,...,...,...,...,...
158,NaN,NaN,도봉구,NaN,NaN,108,서울특별시,2,서울 도봉
159,NaN,NaN,동작구,NaN,NaN,110,서울특별시,8,서울 동작
160,NaN,NaN,성동구,NaN,NaN,114,서울특별시,9,서울 성동
161,NaN,NaN,울주군,NaN,NaN,128,울산광역시,1,울산 울주
162,NaN,NaN,계양구,NaN,NaN,130,인천광역시,2,인천 계양
163,NaN,NaN,미추홀구,NaN,NaN,133,인천광역시,4,인천 미추홀
164,NaN,NaN,광양시,NaN,NaN,138,전라남도,1,광양
165,NaN,NaN,나주시,NaN,NaN,139,전라남도,1,나주
166,NaN,NaN,목포시,NaN,NaN,140,전라남도,5,목포
167,NaN,NaN,무안군,NaN,NaN,141,전라남도,1,무안
168,NaN,NaN,순천시,NaN,NaN,142,전라남도,4,순천
169,NaN,NaN,여수시,NaN,NaN,143,전라남도,5,여수
170,NaN,NaN,군산시,NaN,NaN,144,전라북도,2,군산
171,NaN,NaN,덕진구,NaN,NaN,145,전라북도,4,전주 덕진
172,NaN,NaN,완산구,NaN,NaN,146,전라북도,9,전주 완산
173,NaN,NaN,익산시,NaN,NaN,147,전라북도,3,익산
174,NaN,NaN,정읍시,NaN,NaN,148,전라북도,1,정읍
175,NaN,NaN,서귀포시,NaN,NaN,149,제주특별자치도,9,서귀포
176,NaN,NaN,제주시,NaN,NaN,150,제주특별자치도,8,제주
177,NaN,NaN,계룡시,NaN,NaN,151,충청남도,1,계룡
178,NaN,NaN,공주시,NaN,NaN,152,충청남도,2,공주
179,NaN,NaN,논산시,NaN,NaN,153,충청남도,1,논산
180,NaN,NaN,당진시,NaN,NaN,154,충청남도,2,당진
181,NaN,NaN,서북구,NaN,NaN,156,충청남도,10,천안 서북
182,NaN,NaN,서산시,NaN,NaN,157,충청남도,2,서산
183,NaN,NaN,아산시,NaN,NaN,158,충청남도,4,아산
184,NaN,NaN,서원구,NaN,NaN,160,충청북도,3,청주 서원
185,NaN,NaN,제천시,NaN,NaN,161,충청북도,1,제천
186,NaN,NaN,청원구,NaN,NaN,162,충청북도,3,청주 청원
187,NaN,NaN,충주시,NaN,NaN,163,충청북도,4,충주

In [8]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked.rename(columns={'level_0':'y', 'level_1':'x', 0:'ID'}, 
                              inplace=True)

draw_korea_raw_stacked

      y   x      ID
0     0   7      철원
1     0   8      화천
2     0   9      양구
3     0  10  고성(강원)
4     1   3      양주
5     1   4     동두천
6     1   5      연천
7     1   6      포천
8     1   7     의정부
9     1   8      인제
10    1   9      춘천
11    1  10      속초
12    2   3   고양 덕양
13    2   4  고양 일산동
14    2   5   서울 도봉
15    2   6   서울 노원
16    2   7     남양주
17    2   8      홍천
18    2   9      횡성
19    2  10      양양
20    3   2      파주
21    3   3  고양 일산서
22    3   4      김포
23    3   5   서울 강북
24    3   6   서울 성북
25    3   7      가평
26    3   8      구리
27    3   9      하남
28    3  10      정선
29    3  11      강릉
..   ..  ..     ...
222  21   0      신안
223  21   1      무안
224  21   2   광주 광산
225  21   3      곡성
226  21   4      화순
227  21   5      광양
228  21   6      사천
229  21   7   창원 회원
230  21   8      통영
231  22   0      목포
232  22   1      나주
233  22   2   광주 서구
234  22   3   광주 북구
235  22   4      순천
236  22   5      고흥
237  22   6      남해
238  22   7  고성(경남)
239  22   8      거제
240  23   0      해남
241  23   1      영암
242  23   2   광주 남구
243  23   3   광주 동구
244  23   4      여수
245  24   0      진도
246  24   1      강진
247  24   2      장흥
248  24   3      보성
249  25   2      완도
250  25   5      제주
251  26   5     서귀포

[252 rows x 3 columns]

In [ ]:
BORDER_LINES = [
    [(5, 1), (5,2), (7,2), (7,3), (11,3), (11,0)], # 인천
    [(5,4), (5,5), (2,5), (2,7), (4,7), (4,9), (7,9), 
     (7,7), (9,7), (9,5), (10,5), (10,4), (5,4)], # 서울
    [(1,7), (1,8), (3,8), (3,10), (10,10), (10,7), 
     (12,7), (12,6), (11,6), (11,5), (12, 5), (12,4), 
     (11,4), (11,3)], # 경기도
    [(8,10), (8,11), (6,11), (6,12)], # 강원도
    [(12,5), (13,5), (13,4), (14,4), (14,5), (15,5), 
     (15,4), (16,4), (16,2)], # 충청북도
    [(16,4), (17,4), (17,5), (16,5), (16,6), (19,6), 
     (19,5), (20,5), (20,4), (21,4), (21,3), (19,3), (19,1)], # 전라북도
    [(13,5), (13,6), (16,6)], # 대전시
    [(13,5), (14,5)], #세종시
    [(21,2), (21,3), (22,3), (22,4), (24,4), (24,2), (21,2)], #광주
    [(20,5), (21,5), (21,6), (23,6)], #전라남도
    [(10,8), (12,8), (12,9), (14,9), (14,8), (16,8), (16,6)], #충청북도
    [(14,9), (14,11), (14,12), (13,12), (13,13)], #경상북도
    [(15,8), (17,8), (17,10), (16,10), (16,11), (14,11)], #대구
    [(17,9), (18,9), (18,8), (19,8), (19,9), (20,9), (20,10), (21,10)], #부산
    [(16,11), (16,13)], #울산
#     [(9,14), (9,15)], 
    [(27,5), (27,6), (25,6)],
]

In [7]:
draw_korea_raw = pd.read_excel('../data/05. draw_korea_raw.xlsx', 
                               encoding="EUC-KR")
draw_korea_raw

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,철원,화천,양구,고성(강원),NaN,NaN,NaN
1,NaN,NaN,NaN,양주,동두천,연천,포천,의정부,인제,춘천,속초,NaN,NaN,NaN
2,NaN,NaN,NaN,고양 덕양,고양 일산동,서울 도봉,서울 노원,남양주,홍천,횡성,양양,NaN,NaN,NaN
3,NaN,NaN,파주,고양 일산서,김포,서울 강북,서울 성북,가평,구리,하남,정선,강릉,NaN,NaN
4,NaN,NaN,부천 소사,안양 만안,광명,서울 서대문,서울 종로,서울 동대문,서울 중랑,양평,태백,동해,NaN,NaN
5,NaN,인천 강화,부천 원미,안양 동안,서울 은평,서울 마포,서울 중구,서울 성동,서울 강동,여주,원주,삼척,NaN,NaN
6,NaN,인천 서구,부천 오정,시흥,서울 강서,서울 동작,서울 용산,서울 광진,서울 송파,이천,평창,울진,NaN,NaN
7,NaN,인천 동구,인천 계양,안산 상록,서울 양천,서울 관악,서울 서초,성남 중원,과천,광주,영월,영덕,NaN,NaN
8,NaN,NaN,인천 부평,안산 단원,서울 영등포,서울 금천,서울 강남,성남 분당,성남 수정,용인 수지,문경,봉화,NaN,울릉
9,NaN,인천 중구,인천 남구,화성,서울 구로,군포,의왕,수원 영통,용인 기흥,용인 처인,안동,영양,NaN,NaN
10,인천 옹진,인천 연수,인천 남동,오산,안성,수원 권선,수원 장안,제천,예천,영주,구미,청송,포항 북구,NaN
11,태안,아산,천안 동남,천안 서북,평택,음성,수원 팔달,단양,상주,김천,군위,의성,포항 남구,NaN
12,NaN,당진,홍성,예산,공주,진천,충주,청주 흥덕,괴산,칠곡,영천,경산,경주,NaN
13,NaN,서산,보령,청양,세종,대전 대덕,증평,청주 청원,보은,고령,청도,성주,울산 북구,NaN
14,NaN,NaN,부여,논산,계룡,대전 동구,청주 상당,청주 서원,대구 북구,대구 중구,대구 수성,울산 울주,울산 동구,NaN
15,NaN,NaN,서천,금산,대전 유성,대전 중구,옥천,영동,대구 서구,대구 남구,대구 동구,울산 중구,울산 남구,NaN
16,NaN,NaN,군산,익산,대전 서구,무주,거창,합천,대구 달서,대구 달성,부산 금정,부산 동래,부산 기장,NaN
17,NaN,NaN,부안,김제,완주,장수,함양,창녕,밀양,부산 북구,부산 부산진,부산 연제,부산 해운대,NaN
18,NaN,고창,정읍,전주 덕진,진안,남원,진주,의령,부산 강서,부산 사상,부산 동구,부산 중구,NaN,NaN
19,NaN,영광,장성,전주 완산,임실,산청,함안,양산,창원 합포,부산 서구,부산 사하,부산 남구,NaN,NaN
20,NaN,함평,담양,순창,구례,하동,창원 의창,창원 성산,창원 진해,김해,부산 영도,부산 수영,NaN,NaN
21,신안,무안,광주 광산,곡성,화순,광양,사천,창원 회원,통영,NaN,NaN,NaN,NaN,NaN
22,목포,나주,광주 서구,광주 북구,순천,고흥,남해,고성(경남),거제,NaN,NaN,NaN,NaN,NaN
23,해남,영암,광주 남구,광주 동구,여수,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,진도,강진,장흥,보성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,완도,NaN,NaN,제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,서귀포,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def drawKorea(targetData, blockedMap, cmapname):
    gamma = 0.75

    whitelabelmin = (max(blockedMap[targetData]) - 
                                     min(blockedMap[targetData]))*0.25 + \
                                                                min(blockedMap[targetData])

    datalabel = targetData

    vmin = min(blockedMap[targetData])
    vmax = max(blockedMap[targetData])

    mapdata = blockedMap.pivot_table(index='y', columns='x', values=targetData)
    masked_mapdata = np.ma.masked_where(np.isnan(mapdata), mapdata)
    
    plt.figure(figsize=(9, 11))
    plt.pcolor(masked_mapdata, vmin=vmin, vmax=vmax, cmap=cmapname, 
               edgecolor='#aaaaaa', linewidth=0.5)

    # 지역 이름 표시
    for idx, row in blockedMap.iterrows():
        # 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시한다. 
        #(중구, 서구)
        if len(row['ID'].split())==2:
            dispname = '{}\n{}'.format(row['ID'].split()[0], row['ID'].split()[1])
        elif row['ID'][:2]=='고성':
            dispname = '고성'
        else:
            dispname = row['ID']

        # 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시한다.
        if len(dispname.splitlines()[-1]) >= 3:
            fontsize, linespacing = 10.0, 1.1
        else:
            fontsize, linespacing = 11, 1.

        annocolor = 'white' if row[targetData] > whitelabelmin else 'black'
        plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                     fontsize=fontsize, ha='center', va='center', color=annocolor,
                     linespacing=linespacing)

    # 시도 경계 그린다.
    for path in BORDER_LINES:
        ys, xs = zip(*path)
        plt.plot(xs, ys, c='black', lw=2)

    plt.gca().invert_yaxis()

    plt.axis('off')

    cb = plt.colorbar(shrink=.1, aspect=10)
    cb.set_label(datalabel)

    plt.tight_layout()
    plt.show()

In [9]:
draw_korea = draw_korea_raw_stacked

In [ ]:
plt.figure(figsize=(8, 11))

# 지역 이름 표시
for idx, row in draw_korea.iterrows():
    
    # 광역시는 구 이름이 겹치는 경우가 많아서 시단위 이름도 같이 표시한다. 
    # (중구, 서구)
    if len(row['ID'].split())==2:
        dispname = '{}\n{}'.format(row['ID'].split()[0], row['ID'].split()[1]) #새로운 폼으로 저장
    elif row['ID'][:2]=='고성':
        dispname = '고성'
    else:
        dispname = row['ID']

    # 서대문구, 서귀포시 같이 이름이 3자 이상인 경우에 작은 글자로 표시한다.
    if len(dispname.splitlines()[-1]) >= 3:
        fontsize, linespacing = 9.5, 1.5
    else:
        fontsize, linespacing = 11, 1.2

    plt.annotate(dispname, (row['x']+0.5, row['y']+0.5), weight='bold',
                 fontsize=fontsize, ha='center', va='center', 
                 linespacing=linespacing)
    
# 시도 경계 그린다.
for path in BORDER_LINES:
    ys, xs = zip(*path)
    plt.plot(xs, ys, c='black', lw=1.5)

plt.gca().invert_yaxis()
#plt.gca().set_aspect(1)

plt.axis('off')

plt.tight_layout()
plt.show()