# SQLite3
## 1. 개요
#### 1.1 경량 DBMS
- 별도의 서버가 필요 없음
- 모바일 기기에서 많이 활용되고 있음
- 파이썬3에 기본 내장되어 있음
- 파일 또는 메모리에 DB 생성
- 참고자료: SQLite로 가볍게 배우는 데이터베이스 (WikiDocs)

#### 1.2 데이터 타입
- 동적 데이터 타입
- Null, Integer, Real, Text, Blob 유형이 있음 (Boolean, Date, Time 없음)
- 다른 유형 데이터를 삽입해도 컬럼에 맞게 알아서 들어감.
- 다른 DB에서 사용하는 데이터유형 이름 그대로 사용해도 무방

#### 1.3 DBMS 관리 툴
- [SQLite Expert](http://www.sqliteexpert.com/download.html)
- Personal version은 freeware 이므로 사용할 수 있음

## 2. 파이썬에서 사용하는 방법

In [118]:
import sqlite3

- **데이터베이스 접속**

In [119]:
conn = sqlite3.connect('./test.db') 
'''
conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
'''

"\nconn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)\n"

- **테이블 생성**

In [120]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

- **데이터 삽입(Insert)**

In [121]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

OperationalError: database is locked

- **변경사항 저장**

In [ ]:
conn.commit()

- 모든필드를 삽일할 경우에는 필드명 생략가능
- 튜플의 리스트 형태로 한꺼번에 여러 데이터를 입력할 수 있음

- **파일에서 읽어서 데이터베이스에 쓰기**

In [ ]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

In [ ]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

- **데이터조회**

In [ ]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
print(row)

In [ ]:
# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone() # 하나만 가져옴
print(row)

In [ ]:
# 다건 조회
rows = cur.fetchmany(2) #2건 이상시
for row in rows:
    print(row)

In [ ]:
# 모두 조회
rows = cur.fetchall()
for row in rows:
    print(row)

- **데이터 조회**<br>
SELECT field1, f2, ..., fn[또는 \*] FROM table <br>
    WHERE 조건<br>
    ORDER BY field [DESC]<br>
    GROUP BY field<br>
    LIMIT 숫자<br>

In [122]:
# 필요한 column만 조회, 조회조건도 추가
cur = conn.cursor() #커서리셋 제일 위로 올라감
cur.execute('SELECT name FROM Eagles WHERE back_no > 30')
rows = cur.fetchall();
for row in rows:
    print(row)

('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

In [123]:
# 조회조건
cur = conn.cursor() 
cur.execute("SELECT * FROM Eagles WHERE position like '내야수' ") #문자열 검색시, like
rows = cur.fetchall();
for row in rows:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)

In [124]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')
rows = cur.fetchall();
for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)

In [125]:
cur.execute('SELECT * FROM Eagles ORDER BY name DESC LIMIT 1')
row = cur.fetchone()
print(row[1])

하주석

In [126]:
# 집계 함수
cur.execute('SELECT count(*) FROM Eagles')
count = cur.fetchone()
print(count)

(12,)

In [127]:
# 그룹핑, 집계함수
cur.execute('SELECT position, count(*), avg(height) FROM Eagles GROUP BY position')
rows = cur.fetchall();
for row in rows:
    print(row)

('내야수', 5, 183.0)
('외야수', 3, 179.0)
('투수', 3, 182.66666666666666)
('포수', 1, 178.0)

- **데이터 검색**

In [128]:
# Placeholder
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;' , (back_no,))
player = cur.fetchone()
print(player[0])

50

- **데이터 변경(update)**<br>
UPDATE table SET field1 = value1, ...WHERE 조건;

In [129]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타', highschool='미국고',\
                height=190 WHERE back_no=30;")
conn.commit()

OperationalError: database is locked

In [110]:
position = '외야수'
back_no = 8
cur.execute('UPDATE Eagles SET position=? WHERE back_no=?;',
            (position, back_no))
cur.execute('SELECT * FROM Eagles WHERE back_no=?', (back_no,))
cur.fetchone()

data = ((1995,1), (1986,57))
sql = ‘UPDATE Eagles SET position=? WHERE back_no=?‘
cur.executedmany(sql, data)

SyntaxError: invalid character in identifier (<ipython-input-110-0b6c1601e266>, line 9)

- **데이터 삭제(delete)**<br>
DELETE FROM table WHERE 조건;

In [111]:
cur = conn.cursor()
cur.execute('DELETE FROM Eagles WHERE back_no=1;'')
conn.commit()

SyntaxError: EOL while scanning string literal (<ipython-input-111-74965fa333c3>, line 2)

## Table Join을 위한 준비

In [130]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS stats \
            (id INT NOT NULL, \
            player TEXT, \
            average REAL, \
            rbi INT, \
            homerun INT, \
            PRIMARY KEY(id));')

In [131]:
stats = pd.read_csv('.\stats.csv', encoding = 'EUC-KR')
stats

  player  average  rbi  homerun
0     호잉    0.288   58       15
1    양성우    0.176    6        1
2    최재훈    0.300   24        2
3    김태균    0.308   43        5
4    송광민    0.257   39        6
5    이성열    0.257   62       18
6    정은원    0.281   47        5
7    정근우    0.219   10        2
8    최진행    0.184   14        3

In [132]:
cur = conn.cursor()
sql = 'INSERT INTO Stats VALUES (?, ?, ?, ?, ?, ?);'
for i in range(9):
    cur.execute(sql, (i+1, 
                          stats.iloc[i,0], 
                          float(stats.iloc[i,1]),
                          int(stats.iloc[i,2]), 
                          int(stats.iloc[i,3])))
conn.commit()

OperationalError: table Stats has 5 columns but 6 values were supplied

In [117]:
cur.execute("DROP TABLE stats")
conn.commit()

OperationalError: database is locked

In [133]:
cur = conn.cursor()
cur.execute('SELECT * FROM stats')
for row in cur:
    print(row)

In [ ]:
sql = 'SELECT Eagles.back_no, Eagles.name, Eagles.position,\
            Stats.average, Stats.rbi, Stats.homerun \
            FROM Eagles JOIN Stats \
            ON Eagles.name like Stats.player;'
sql = 'SELECT e.back_no, e.name, e.position,\
            s.average, s.rbi, s.homerun \
            FROM Eagles AS e JOIN Stats AS s \
            ON e.name like s.player;'
cur = conn.cursor()
cur.execute(sql)
for row in cur:
    print(row)

In [8]:
conn.close()